body {
  font-size: 18px;
  word-wrap: break-word; }

a {
  color: #900;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

a:focus,
a:hover {
  color: #c00; }

.btn-primary {
  background: #900;
  border-color: #900; }

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open > .btn-primary.dropdown-toggle {
  background: #c00;
  border-color: #c00; }

.container {
  max-width: 600px; }

.title-page {
  font-size: 24px; }

.link-post-next:before {
  content: "<";
  font-weight: 600; }

.link-post-previous:after {
  content: ">";
  font-weight: 600; }

.footer {
  background: url("https://avatar-ssl.xboxlive.com/avatar/saviomd/avatar-body.png") no-repeat 0 -40px;
  border-top: 1px solid #ddd;
  min-height: 240px;
  padding-left: 140px; }

.footer__copyright {
  border-top: 1px solid #ddd;
  font-size: 12px; }

.header {
  background: #900 -webkit-gradient(linear, left top, right top, from(#900), to(#600));
  background: #900 -webkit-linear-gradient(left, #900, #600);
  background: #900 linear-gradient(to right, #900, #600);
  height: 38px; }

.header__title {
  color: #fff !important;
  display: inline-block;
  font: bold 26px/1 Verdana, Geneva, sans-serif;
  margin: 0; }

.header__title:focus,
.header__title:hover {
  text-decoration: none; }

@media (min-width: 768px) {
  .header {
    height: 50px; }
  .header__title {
    font-size: 40px;
    text-transform: lowercase; }
  .header__title:focus,
  .header__title:hover {
    text-shadow: 2px 2px 0 rgba(0, 0, 16, 0.5);
    -webkit-transform: rotate(-1deg) scale(1.1);
            transform: rotate(-1deg) scale(1.1); } }

.post {
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
          border-radius: 5px; }

.post__title {
  font-size: 24px;
  margin: 0; }

.post__title--archive {
  display: inline;
  font-size: 18px;
  font-weight: 400; }

.post__date {
  font-size: 12px; }

.post__tag {
  background: #ddd;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  display: inline-block;
  font-size: 12px;
  padding: 2px; }

.tag-list {
  background: #900;
  border-color: #900;
  color: #fff; }

.tag-list a {
  color: #eee; }

.tag-list .active {
  text-decoration: underline; }
