<footer>
	<div class="footer-content m-t-1">
		<div class="footer-content__body container p-y-1">
			Olá, meu nome é Sávio Mendes, sou <a href="http://saviomd.com/" ga-on="click" ga-event-category="Blog" ga-event-action="Rodapé" ga-event-label="saviomd.com (content)">desenvolvedor front-end / designer de interfaces / analista de produto</a> (não necessariamente ao mesmo tempo e nessa ordem), carioca, flamenguista, maluco por filmes, lateral / ala direito nas peladas de quarta e sábado, fã de Iron Maiden, Van Halen e Faith No More.
		</div>
	</div>
	<div class="footer-copyright container p-y-1">
		&copy; 2009-{{ site.time | date: '%Y' }}
		<a href="http://saviomd.com/" ga-on="click" ga-event-category="Blog" ga-event-action="Rodapé" ga-event-label="saviomd.com (copyright)">Sávio Mendes</a>
	</div>
</footer>
