{% if page.title == "Home" %}
	{% capture pageTitle %}{{ site.title }} - {{ site.tagline }}{% endcapture %}
{% else %}
	{% capture pageTitle %}{{ page.title }} - {{ site.title }}{% endcapture %}
{% endif %}

{% if page.title == "Home" or page.title == "Arquivo" %}
	{% for tag in site.tags %}
		{% capture pageDescription %}{{ pageDescription }}{{ tag | first }}, {% endcapture %}
	{% endfor %}
{% else %}
	{% for tag in page.tags %}
		{% capture pageDescription %}{{ pageDescription }}{{ tag }}, {% endcapture %}
	{% endfor %}
{% endif %}

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ pageTitle }}</title>
	<meta name="description" content="{{ pageDescription }}">
	{% if site.noindex %}
	<meta name="robots" content="noindex, nofollow">
	{% endif %}
	<link rel="stylesheet" href="{{ site.baseurl }}/css/vendor{% if site.dev == false %}.min{% endif %}.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/blog{% if site.dev == false %}.min{% endif %}.css">
	<link rel="shortcut icon" href="{{ site.url }}/img/favicon.png">
	<link rel="apple-touch-icon" href="{{ site.url }}/img/apple-touch-icon.png">
	<link rel="canonical" href="{{ site.url }}{{ page.url }}">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.baseurl }}/atom.xml">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="{{ site.twitter }}">
	<meta property="og:url" content="{{ site.url }}{{ page.url }}">
	<meta property="og:title" content="{{ pageTitle }}">
	<meta property="og:description" content="{{ pageDescription }}">
	<meta property="og:image" content="{{ site.url }}/img/icon-256.png">
	<script>
		if (location.search.indexOf('a=0') === -1) {
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-22412489-1', 'auto');
			ga('require', 'autotrack');
			ga('send', 'pageview');

			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:247241,hjsv:5};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
		};
	</script>
</head>
