.footer-content {
	background: #eee;
}

.footer-content__body {
	background: url("https://avatar-ssl.xboxlive.com/avatar/saviomd/avatar-body.png") no-repeat 0 -40px;
	min-height: 240px;
	padding-left: 140px;
}

.footer-copyright {
	font-size: 12px;
}
