.footer {
	background: url("https://avatar-ssl.xboxlive.com/avatar/saviomd/avatar-body.png") no-repeat 0 -40px;
	border-top: 1px solid #ddd;
	min-height: 240px;
	padding-left: 140px;
}

.footer__copyright {
	border-top: 1px solid #ddd;
	font-size: 12px;
}
