.post {
	border: 1px solid #ddd;
	border-radius: 5px;
}

.post__title {
	font-size: 24px;
}

.post__title--archive {
	display: inline;
	font-size: 18px;
	font-weight: 400;
}

.post__date {
	font-size: 12px;
}

.post__tag {
	font-size: 12px;
}

.post__tag:before {
	content: "#";
}
