.tag-list {
	background: #900;
	border-color: #900;
	color: #fff;
}

.tag-list a {
	border-radius: $spacer / 4;
	color: #eee;
	padding: ($spacer / 8) ($spacer / 4);
}

.tag-list a:before {
	content: "#";
}

.tag-list .active {
	background: #c00;
}
