---
layout: default
---

<div class="panel panel-default">
	<div class="panel-body">
		<h1>{{ page.title }}</h1>
		<small>{{ page.date | date_to_string }}</small>
		<div>
			{{ content }}
		</div>
		<ul class="list-inline">
			{% for tag in page.tags %}
			<li class="badge">{{tag}}</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div class="row">
	{% if page.next %}
	<div class="col-xs-9">
		<a href="{{ site.baseurl }}{{ page.next.url }}">
			<i class="glyphicon glyphicon-chevron-left"></i>
			{{ page.next.title }}
		</a>
	</div>
	{% endif %}

	{% if page.previous %}
	<div class="col-xs-9 pull-right text-right">
		<a href="{{ site.baseurl }}{{ page.previous.url }}">
			{{ page.previous.title }}
			<i class="glyphicon glyphicon-chevron-right"></i>
		</a>
	</div>
	{% endif %}
</div>

<hr>
<div class="row">
	<div class="col-xs-6 col-xs-offset-3">
		<a href="{{ site.baseurl }}/arquivo/" class="btn btn-primary btn-lg btn-block">Arquivo</a>
	</div>
</div>
